<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="nav" style="background-color: rgb(18, 1, 1); padding:20px">
        <div>
            <h1 style="color: rgb(161, 151, 151);">Shopping Items</h1>
        </div>
    </header>
    <a href="/listview">Click here for viewing, updating & deleting </a><hr>
    {% block content %}
    {% endblock %}
    
    
</body>
</html>